@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body{
    background-color: bisque;
    font-family: 'Open Sans', Arial, sans-serif;
}


nav{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#nav-conteudo{
    background-color: white;
    width: 334px;
    height: 90px;
   
}

#logo{
    width: 334px;
    height: 100%;
    display: flex;
    align-items: center;
}

#logo img{
    width:200px;
    height: 85px;
    cursor: pointer;
    
}

#navegação{
    display: flex;
    width: 805px;
    height: 50px;
    background-color: white;
}

#conteudo{
    width: 534px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    letter-spacing: 1.5px;
    font-weight: 600;
    font-size: 15px;
    color: #000;
    margin: 0px;
    align-items: center;
}

.menu li:hover {
    cursor: pointer;
    color: red;
}

#social{
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
}

#redes{
    display: flex;
    width: 200px;
    justify-content: space-evenly;
}

#redes:hover{
    cursor: pointer;
}

#pesquisa{
    display: flex;
    align-items: center;
}

#pesquisa:hover{
    cursor: pointer;
}




.carrousel{
    width: 100%;
    height: 350px;
    background-color: aqua;
}

.item{
    width: 100%;
    height: 300px;
    background-color: white;
    display: flex;
}

.item-imagem {
    width: 25%;
    height: 350px;
   
}

.item-imagem img{
    width: 100%;
    height: 350px;
}