
:root {
    --primary-color: #F56D91;
    --secondary-color: #DFDFDE;
    --text-color: #000000;
    --background-color: #F7F5F2;
    --text-shadow-color:  1px 1px 2px #000000;
    --text-cinza:#6a6359;
}
em{
    color: var(--primary-color);
}
main{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.receita{
    width: 70%;
    height: 100%;
    margin: 30px 20px 0;
}

.receita-reader{
    width: 100%;
    height: 122px;
}

.receita-categoria{
    height: 20px;
    text-align: center;
    width: 100%;
}

.receita-categoria a{
    font: normal normal 28px 'Playfair Display', sans-serif;
    color: #fc4544;
    z-index: 999;
    position: relative;
    background: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}

.receita-titulo h1{
    text-align: center;
    font: normal normal 28px 'Playfair Display', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    color: #303030 !important;
    padding: 5px 0px 0;
    margin-bottom: 15px;
    margin-top: 10px;
}

.receita-data {
    width: 100%;
    align-items: center;
    text-align: center;
}

.receita-data a{
    color: #999;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    font: normal normal 12px 'Playfair Display', sans-serif;
}

.receita-introdução{
    font: normal normal 28px 'Playfair Display', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    color: #515151;
    margin: 2em ;
}


.receita-introdução p{
    letter-spacing: 0.5px;
    text-align: justify;
}

.receita-imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
   
}

.receita-imagem img{
    width: 92%;
    height: 450px;
    object-fit: cover;

}

.receita-ingredientes{
    margin: 2rem;
    margin-top: 50px;
}

.receita-ingredientes h1{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    color: #434343;
}

.lista-ingredientes h3{
    margin-bottom: 30px;
    margin-top: 10px;
}

.lista-ingredientes ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 200px;
}

.lista-ingredientes li{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.lista-ingredientes img{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.receita-preparo{
    margin: 2rem;
    
}

.receita-preparo h1{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    color: #434343;
}

.receita-preparo time{
    font-weight: bold;
    color: var(--primary-color);
}

.receita-etapas li{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 96.8%;
}

.receita-etapas{
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

.receita-etapas p{
    width: 3.2%;
    height: 100%;
    text-align: center;
    background: var(--secondary-color);
    color: var(--primary-color);
    font-weight: bold;
    border-radius: 100%;
    margin-right: 15px;
    box-shadow: var(--text-shadow-color);
}

.receita-etapa{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

hr{
    color: gray;
    font-weight: bold;
}

.receita-categorias{
    width: 100%;
    margin-top: 5px;
    font-size: 14px;
    margin: 2rem;
}

.RC{
    font: normal normal 28px 'Playfair Display', sans-serif;
    border: 1px solid var(--secondary-color);
    text-align: center;
    padding: 5px 10px;
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 1px;
    text-decoration: none;
    color: gray;
}

.RC:hover{
    cursor: pointer;
    color: var(--primary-color);
}

.social{
    text-align: center;
    margin-top: 35px;
    position: relative;
    margin: 2rem;
   
}

.social-icones{
    background: #fff;
    display: inline-block;
    position: relative;
    z-index: 9;
    padding: 0 20px;
    bottom: 17px;
}

.social-icone{
    background: #fcf9f5;
    text-align: center;
    line-height: 32px;
    margin: 0 5px;
   
    
}

#linha{
    width: 100%;
    height: 1px;
    background-color: var(--secondary-color);
    margin: 20px 0; /
}


  
#relacionados{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#R{
    width: 90%;
}

.relacionados-itens{
    display: flex;
    flex-direction: row;
    width: 89%;
    justify-content: space-between;
    margin-top: 20px;
}

.relacionados-item{
    width: 240px;
    height: 290px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.relacionados-item:hover{
    color: var(--primary-color);
}

.relacionados-item img{
    width: 240px;
    height: 240px;
}

.relacionados-item p{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    color: var(--text-cinza);
    font: normal normal  'Playfair Display', sans-serif;
    
}

@media only screen and (max-width: 1230px) {
   
  
    .lista-ingredientes ul {
        flex-wrap: nowrap;
        height: 100%;
    }

    #popular-text {
        padding: 15px 22px;
    }

    .relacionados-itens {
        justify-content: space-evenly;
    }

    .relacionados-item {
        width: 200px;
    }

    .relacionados-item img {
        width: 195px;
        height: 220px;
    }
}


@media only screen and (max-width: 800px) {
    main{
        flex-direction: column;
        
    }

    .receita {
        width: 100%;
    } 

}




    @media only screen and (max-width: 450px) {

        .receita-introdução {
            margin: 2rem 1rem;
        }

        .receita {
            margin:  0;
        }

        .receita-ingredientes h1 {
            font-size: 25px;
        }

        .receita-categorias {
            width: 80%;
        }

        .relacionados-itens {
            flex-direction: column;
            align-items: center;
        }
    }


    @media only screen and (max-width: 400px) {
        .receita-preparo h3{
            font-size: larger;
        }

        .receita-ingredientes h1 {
            font-size: 20px;
        }

        .receita-categorias {
            width: 83%;
        }
    }